* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {
    .content {
        max-width: 576px;
        margin: 0 auto;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
